<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences and Training</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Fellow</h3>
                            <div class="time">Aug 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Make A Difference (MAD)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Started as a teacher,then a mentor, guiding 10 teachers through the Ed-Support Project. Recently promoted to an Ed-Support Fellow for the Vellore city,inculcating ideas of bottom-up organizational structure and social development.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Digital Marketing Intern</h3>
                            <div class="time">June 2016, December 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">BigLift</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Experience with SEO,Google Page Insights Contributed to BigLift, website for LinkedIn Profile Makeovers and Infographic resumes (Marketing and Testing)</p>

                    </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iOS Application Development Program Trainee</h3>
                            <div class="time">June 2015 - July 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">XYZ Company</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked with Xcode environment learning UIKit,MapKit,XMLReader; Developed tic tac toe with AI.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
