<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects and Major Achievements</h2>
                <div class="intro">

                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">2017</a></span> : <br>
                    <span class="project-tagline">Became and Ed-Support Fellow for the organisation - Make A Dfiference</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">2016</a></span> : <br>
                    <span class="project-tagline">iOS Project on TicTacToe</span> <br>
                    <span class="project-tagline">iOS Project on information on restaurants and travel agents near my college</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">2013</a></span> : <br>
                    <span class="project-tagline">Criminal Database Project in C++ made for class 12, acknowledged as Project of the Year</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">2012</a></span> : <br>
                    <span class="project-tagline">Qualified and won scholarship in All India Talent Search(AITS) three times (2008, 2009, 2012)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Miscellaneous</a></span> : <br>
                    <span class="project-tagline">Won Best Badminton Player Award for 2012</span> <br>
                    <span class="project-tagline">Active participant in IT Quizzes, Math Olympiads during schooling, winning various competitions and certificates.</span>
                </div><!--//item-->
            </section><!--//section-->
