<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">C, C++ &amp; C#</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Objective-C</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="45%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Swift</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="43%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML/CSS &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="25%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">MySQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="25%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->



                </div>
            </section><!--//skills-section-->
